
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title> HiperStar</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="shortcut icon" href="~/assets/images/favicon.ico">
    <link rel="stylesheet" href="~/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/assets/css/plugins.css">
    <link rel="stylesheet" href="~/assets/css/style.css">

    <link rel="stylesheet" href="~/assets/css/custom.css">

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Scripts/Js/Pagination/Pgination.css" rel="stylesheet" />
</head>

<body>

    <div class="tm-preloader">
        <span class="tm-preloader-box"></span>
        <button class="tm-button tm-button-sm tm-button-white">
            <small>لغو</small>
            <b></b>
        </button>
    </div>

    <div id="wrapper" class="wrapper">

        <!-- Header Area -->
        <div class="header">

            <!-- Header Top Area -->
            <div class="header-toparea">
                <div class="container">
                    <div class="row">
                        <div class="col-md-7 col-sm-8 col-12">
                            <div class="header-topinfo">
                                <ul>
                                    <li>
                                        <a href="tel://+1-800-915-6270">
                                            021-800-9950<i class="flaticon-phone-call"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="mailto://contact@example.com">
                                            contact@example.com<i class="flaticon-envelope"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-5 col-sm-4 col-12">
                            <div class="header-topsocial">
                                <ul>
                                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="#"><i class="fab fa-skype"></i></a></li>
                                    <li><a href="#"><i class="fab fa-pinterest-p"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="header-bottomarea">
                <div class="container">
                    <div class="header-bottominner">
                        <div class="header-logo">
                            <a href="#">

                                <i class="fa fa-shopping-bag" style="font-size:30px;"> HiperStar </i>

                            </a>
                        </div>
                        <nav class="tm-navigation">
                            <ul>
                                <li class="tm-navigation-dropdown">
                                    <a href="index-1.html">خانه</a>
                                    <ul>
                                        <li><a href="index-1.html">صفحه اصلی 1</a></li>
                                        <li><a href="index-2.html">صفحه اصلی 2</a></li>
                                        <li><a href="index-3.html">صفحه اصلی 3</a></li>
                                        <li><a href="index-parallax.html">دارای پارالاکس</a></li>
                                        <li><a href="index-particle.html">دارای ذرات معلق</a></li>
                                        <li><a href="index-videobg.html">دارای پس از زمینه ویدیو</a></li>
                                    </ul>
                                </li>
                                <li><a href="about-us.html">درباره ما</a></li>
                                <li class="tm-navigation-dropdown">
                                    <a href="portfolio.html">نمونه کارها</a>
                                    <ul>
                                        <li><a href="portfolio.html">نمونه کارها</a></li>
                                        <li><a href="portfolio-details.html">جزئیات</a></li>
                                        <li><a href="portfolio-details-gallery.html">جزئیات - گالری</a></li>
                                        <li><a href="portfolio-details-video.html">جزئیات - ویدیو</a></li>
                                    </ul>
                                </li>
                                <li class="tm-navigation-dropdown">
                                    <a href="shop.html">فروشگاه</a>
                                    <ul>
                                        <li><a href="shop.html">محصولات</a></li>
                                        <li><a href="shop-leftsidebar.html">نوار کناری راست</a></li>
                                        <li><a href="shop-3-column.html">3 ستونه</a></li>
                                        <li><a href="shop-4-column.html">4 ستونه</a></li>
                                    </ul>
                                </li>
                                <li class="tm-navigation-dropdown">
                                    <a href="blog.html">وبلاگ</a>
                                    <ul>
                                        <li><a href="blog.html">وبلاگ</a></li>
                                        <li><a href="blog-leftsidebar.html">نوار کناری راست</a></li>
                                        <li><a href="blog-nosidebar.html">بدون نوار کناری</a></li>
                                        <li><a href="blog-2-column-masonry.html">2 ستونه</a></li>
                                        <li><a href="blog-3-column-masonry.html">3 ستونه</a></li>
                                        <li>
                                            <a href="blog-details.html">جزئیات</a>
                                            <ul>
                                                <li><a href="blog-details.html">جزئیات</a></li>
                                                <li>
                                                    <a href="blog-details-leftsidebar.html">نوار کناری راست</a>
                                                </li>
                                                <li>
                                                    <a href="blog-details-nosidebar.html">بدون نوار کناری</a>
                                                </li>
                                                <li><a href="blog-details-gallery.html">گالری</a></li>
                                                <li><a href="blog-details-video.html">ویدیو</a></li>
                                                <li><a href="blog-details-audio.html">صوتی</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li class="tm-navigation-megamenu">
                                    <a href="#">صفحات</a>
                                    <ul>
                                        <li>
                                            <a href="shop.html">لیست صفحات 1</a>
                                            <ul>
                                                <li><a href="index-1.html">صفحه اصلی 1</a></li>
                                                <li><a href="index-2.html">صفحه اصلی 2</a></li>
                                                <li><a href="index-3.html">صفحه اصلی 3</a></li>
                                                <li><a href="index-parallax.html">دارای پارالاکس</a></li>
                                                <li><a href="index-particle.html">دارای ذرات معلق</a></li>
                                                <li><a href="index-videobg.html">دارای پس از زمینه ویدیو</a></li>
                                                <li><a href="about-us.html">درباره ما</a></li>
                                                <li><a href="services.html">خدمات ما</a></li>
                                                <li><a href="service-details.html">جزئیات خدمات</a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="#">لیست صفحات 2</a>
                                            <ul>
                                                <li><a href="portfolio.html">نمونه کارها</a></li>
                                                <li><a href="portfolio-details.html">جزئیات نمونه کارها</a></li>
                                                <li>
                                                    <a href="portfolio-details-gallery.html">جزئیات نمونه کارها - گالری</a>
                                                </li>
                                                <li>
                                                    <a href="portfolio-details-video.html">جزئیات نمونه کارها - ویدیو</a>
                                                </li>
                                                <li><a href="blog.html">وبلاگ</a></li>
                                                <li><a href="blog-leftsidebar.html">وبلاگ - نوار کناری راست</a></li>
                                                <li><a href="blog-nosidebar.html">وبلاگ - بدون نوار کناری</a></li>
                                                <li><a href="blog-2-column-masonry.html">وبلاگ - 2 ستونه</a></li>
                                                <li><a href="blog-3-column-masonry.html">وبلاگ - 2 ستونه</a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="#">لیست صفحات 3</a>
                                            <ul>
                                                <li><a href="blog-details.html">جزئیات وبلاگ</a></li>
                                                <li>
                                                    <a href="blog-details-leftsidebar.html">
                                                        جزئیات وبلاگ - نوار کناری
                                                        راست
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="blog-details-nosidebar.html">جزئیات وبلاگ - بدون نوار کناری</a>
                                                </li>
                                                <li><a href="blog-details-gallery.html">جزئیات وبلاگ - گالری</a></li>
                                                <li><a href="blog-details-video.html">جزئیات وبلاگ - ویدیو</a></li>
                                                <li><a href="blog-details-audio.html">جزئیات وبلاگ - صوت</a></li>
                                                <li><a href="shop.html">فروشگاه</a></li>
                                                <li><a href="shop-leftsidebar.html">فروشگاه - نوار کناری راست</a></li>
                                                <li><a href="shop-3-column.html">فروشگاه - 3 ستونه</a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="#">لیست صفحات 4</a>
                                            <ul>
                                                <li><a href="shop-4-column.html">فروشگاه - 4 ستونه</a></li>
                                                <li><a href="product-details.html">جزئیات محصول</a></li>
                                                <li>
                                                    <a href="product-details-nosidebar.html">
                                                        جزئیات محصول - بدون نوار
                                                        کناری
                                                    </a>
                                                </li>
                                                <li><a href="my-account.html">حساب کاربری</a></li>
                                                <li><a href="login-register.html">ورود و عضویت</a></li>
                                                <li><a href="cart.html">سبد خرید</a></li>
                                                <li><a href="checkout.html">پرداخت</a></li>
                                                <li><a href="contact-us.html">تماس با ما</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li><a href="contact-us.html">تماس با ما</a></li>
                            </ul>
                        </nav>
                        <div class="header-icons">
                            <ul>
                                <li><a href="#" class="header-searchtrigger"><i class="flaticon-magnifier"></i></a></li>
                                <li><a href="#"><i class="flaticon-cart-of-ecommerce"> <span id="CountBasket"></span> </i></a></li>
                            </ul>
                        </div>
                        <div class="header-searchbox">
                            <div class="header-searchinner">
                                <form action="#" class="header-searchform">
                                    <input type="text" placeholder="جستجو در سایت ..">
                                </form>
                                <button class="search-close"><i class="fas fa-times"></i></button>
                            </div>
                        </div>
                    </div>
                    <div class="header-mobilemenu clearfix">
                        <div class="tm-mobilenav"></div>
                    </div>
                </div>
            </div>

        </div>






        
        <img id="LoadingGift" src="~/Scripts/Js/Eclipse-1s-200px.svg" style="display:none;position:fixed;left:50%;right:50%;top:50%;bottom:50%;z-index:999999999999"/>







        <main class="main-content">

            @RenderBody()

        </main>

        <footer class="footer" data-bgimage="~/assets/images/bg/bg-image-1.jpg" data-black-overlay="9">

            <!-- Footer Widgets -->
            <div class="footer-toparea tm-padding-section">
                <div class="container">
                    <div class="row widgets footer-widgets">

                        <div class="col-lg-3 col-md-6 col-12">
                            <!-- Single Widget (Widget Info) -->
                            <div class="single-widget widget-info">
                                <a href="index-1.html" class="widget-info-logo">
                                    <i class="fa fa-shopping-bag" style="font-size:30px;"> HiperStar </i>


                                </a>
                                <p>
                                    لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک
                                    است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط
                                    فعلی تکنولوژی مورد نیاز
                                </p>
                                <ul class="widget-info-social">
                                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="#"><i class="fab fa-skype"></i></a></li>
                                    <li><a href="#"><i class="fab fa-pinterest-p"></i></a></li>
                                </ul>
                            </div>
                            <!--// Single Widget (Widget Info) -->
                        </div>

                        <div class="col-lg-3 col-md-6 col-12">
                            <!-- Single Widget (Widget Contact) -->
                            <div class="single-widget widget-contact">
                                <h5 class="widget-title">تماس با ما</h5>
                                <ul>
                                    <li>
                                        <i class="fas fa-map-marker-alt"></i>
                                        <p>تهران ، خیابان جمهوری ، خیابان دوم</p>
                                    </li>
                                    <li>
                                        <i class="fas fa-envelope"></i>
                                        <p>ایمیل : <a href="#">info@example.com</a></p>
                                        <p>اسکایپ : <a href="#">example.name</a></p>
                                    </li>
                                    <li>
                                        <i class="fas fa-phone"></i>
                                        <p><a href="#">021-800-915</a></p>
                                        <p><a href="#">021-805-995</a></p>
                                    </li>
                                </ul>
                            </div>
                            <!--// Single Widget (Widget Contact) -->
                        </div>

                        <div class="col-lg-3 col-md-6 col-12">
                            <!-- Single Widget (Widget Blog) -->
                            <div class="single-widget widget-recentpost">
                                <h5 class="widget-title">آخرین مطالب</h5>
                                <ul>
                                    <li>
                                        <a href="blog-details.html" class="widget-recentpost-image">
                                            <img src="~/assets/images/blog/widget/blog-thumbnail-1.png" alt="blog thumbnail">
                                        </a>
                                        <div class="widget-recentpost-content">
                                            <h6><a href="blog-details.html">عنوان مطلب</a></h6>
                                            <span>شنبه، 20 اردیبهشت 1398 </span>
                                        </div>
                                    </li>
                                    <li>
                                        <a href="blog-details.html" class="widget-recentpost-image">
                                            <img src="~/assets/images/blog/widget/blog-thumbnail-2.png" alt="blog thumbnail">
                                        </a>
                                        <div class="widget-recentpost-content">
                                            <h6><a href="blog-details.html">عنوان مطلب</a></h6>
                                            <span>دوشنبه، 25 اردیبهشت 1398 </span>
                                        </div>
                                    </li>
                                    <li>
                                        <a href="blog-details.html" class="widget-recentpost-image">
                                            <img src="~/assets/images/blog/widget/blog-thumbnail-3.png" alt="blog thumbnail">
                                        </a>
                                        <div class="widget-recentpost-content">
                                            <h6><a href="blog-details.html">عنوان مطلب</a></h6>
                                            <span>سه شنبه، 29 اردیبهشت 1398 </span>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-6 col-12">
                            <div class="single-widget widget-newsletter">
                                <h5 class="widget-title">خبرنامه</h5>
                                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ </p>
                                <form id="tm-mailchimp-form" class="widget-newsletter-form">
                                    <input id="mc-email" type="text" placeholder="ایمیل خود را وارد نمایید ...">
                                    <button id="mc-submit" type="submit" class="tm-button">اشتراک <b></b></button>
                                </form>
                                <div class="tm-mailchimp-alerts">
                                    <div class="tm-mailchimp-submitting"></div>
                                    <div class="mailchimp-success"></div>
                                    <div class="tm-mailchimp-error"></div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="footer-bottomarea">
                <div class="container">
                    <p class="footer-copyright">© 2018. ترجمه و بازطراحی شده توسط <a href="#">MagnaElit</a></p>
                </div>
            </div>


        </footer>


    </div>

    <script src="~/assets/js/modernizr-3.6.0.min.js"></script>
    <script src="~/assets/js/jquery.min.js"></script>
    <script src="~/assets/js/popper.min.js"></script>
    <script src="~/assets/js/bootstrap.min.js"></script>
    <script src="~/assets/js/plugins.js"></script>
    <script src="~/assets/js/main.js"></script>
    <script src="~/Scripts/Js/GetBasketCooki.js"></script>
    <script src="~/Scripts/Js/Pagination/pagination.js"></script>
    <script>

        window.onload = load;

        function load() {

        GetBasketCooki(CountBasket);
        }
        

    </script>

    @RenderSection("localscript", false)

</body>
</html>
