
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_layout.cshtml";
}

<div class="tm-breadcrumb-area tm-padding-section" style="background-image:url(../../Image/AboutUs.jpg)">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="tm-breadcrumb">
                    <h2>ورود/عضویت</h2>
                    <ul>
                        <li><a href="~/Home/Index"><i class="fa fa-home"></i> خانه </a></li>
                        <li>ورود/عضویت</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="tm-section tm-login-register-area bg-white tm-padding-section">
    <div class="container">
        <div class="row">

            <div class="col-lg-6">
                <form action="~/SinSup/Index" target="_blank" method="post" class="tm-form tm-login-form tm-form-bordered">
                    <h4>ورود</h4>
                    <div class="tm-form-inner">
                        <div class="tm-form-field">
                            <label for="login_Username">آدرس ایمیل یا نام کاربری*</label>
                            <input type="text" id="login_Username" name="UserName" required="required">
                        </div>
                        <div class="tm-form-field">
                            <label for="login_password">رمز عبور*</label>
                            <input type="password" id="login_password" name="Password" required="required">
                        </div>

                        <div class="tm-form-field">
                            <button type="submit" class="tm-button">ورود <b></b></button>
                        </div>
                        <div class="tm-form-field">
                            <a href="#">فراموشی رمز عبور</a>
                        </div>


                        @if (ViewBag.WrongIdentity != null)
                        {

                            <div class="tm-form-field">
                                <label class="alert alert-danger">نام کاربری یا رمز عبور اشتباه است</label>
                            </div>
                        }


                    </div>
                </form>
            </div>

            <div class="col-lg-6">
                <div class="tm-form tm-register-form tm-form-bordered">
                    <h4>عضویت</h4>
                    <div class="tm-form-inner">

                        <div class="tm-form-field">
                            <label for="fullname">نام ونام خانوادگی</label>
                            <input type="text" id="fullname" required="required">
                        </div>

                        <div class="tm-form-field">
                            <label for="username">نام کاربری</label>
                            <input type="text" id="username" required="required">
                        </div>
                        <div class="tm-form-field">
                            <label for="email">آدرس ایمیل</label>
                            <input type="email" id="email" required="required">
                        </div>
                        <div class="tm-form-field">
                            <label for="password">رمز عبور</label>
                            <input type="password" id="password" required="required">
                        </div>

                        <div class="tm-form-field">
                            <label id="PassWordStrengh"></label>
                        </div>

                        <div class="tm-form-field">
                            <input type="checkbox" id="terms">
                            <label for="terms">تایید قوانین و مقررات</label>
                        </div>
                        <div class="tm-form-field">
                            <button type="button" id="mngcustomer" class="tm-button">عضویت <b></b></button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


@section localscript{


    <script>


        $(password).keyup(function ()
        {
            pwdStrength(this.value);
        });




        function pwdStrength(password)
            {
        var desc = new Array();
        desc[0] = "خیلی ضعیف";
        desc[1] = "ضعیف";
        desc[2] = "متوسط";
        desc[3] = "خوب";
        desc[4] = "خیلی خوب";
        desc[5] = "عالی";
            var score = 0;
            if (password.length>4) {
        if (password.length > 6) score++;
        if ( ( password.match(/[a-z]/) ) && ( password.match(/[A-Z]/) ) ) score++;
        if (password.match(/\d+/)) score++;
        if ( password.match(/.[!,@Html.Raw('@'),#,$,%,^,&,*,?,_,~,-,(,)]/) ) score++;
        if (password.length > 12) score++;
                document.getElementById("PassWordStrengh").innerHTML = desc[score];

                if (score < 2) {
                    $(PassWordStrengh).removeClass();
                    $(PassWordStrengh).addClass('alert-danger');
                }

               else if (score == 2) {
                    $(PassWordStrengh).removeClass();
                    $(PassWordStrengh).addClass('alert-warning');
                }

                else if (score >= 3) {
                    $(PassWordStrengh).removeClass();
                    $(PassWordStrengh).addClass('alert-success');
                }
            }
            else {
                PassWordStrengh.innerHTML = "ضعیف";
                $(PassWordStrengh).removeClass();
                $(PassWordStrengh).addClass('alert-danger');
            }


}
    </script>


    <script>

        function mcustomer(r, a, e, o, n) {
            this.Id = r, this.FullName = a, this.Email = e, this.UserName = o, this.Password = n
        } var _mcustomer = new mcustomer(0, "", "", "", "");
        $(mngcustomer).click(function () {
            return "" == fullname.value
                || "" == username.value
                || "" == email.value
                || "" == password.value ?
                (AlertInAjax("تمام اطلاعات باید وارد شود. لطفا دوباره اقدام نمایید", modalerrorInAjax, "alert-danger"),
                    void $(modalerrorInAjax).modal("show")) :
                terms.checked ? "خوب" != PassWordStrengh.innerHTML
                    && "خیلی خوب" != PassWordStrengh.innerHTML
                    && "عالی" != PassWordStrengh.innerHTML ? (AlertInAjax("رمز شما ضعیف است", modalerrorInAjax, "alert-danger"),
                        void $(modalerrorInAjax).modal("show")) :
                    (_mcustomer.FullName = fullname.value,
                        _mcustomer.UserName = username.value,
                        _mcustomer.Email = email.value,
                        _mcustomer.Password = password.value,
                        void $.ajax({
                            url: "/SinSup/mngcustomer",
                            data: {
                                _mcustomer: _mcustomer
                            }, type: "post",
                            beforeSend: function () {
                                $(LoadingGift).show()
                            }, error: function (r) {
                                return 503 == r.status ? (
                                    $(LoadingGift).hide(),
                                    AlertInAjax("نام کاربری و یا ایمیل تکراری است لطفا مجددا امتحان نمایید", modalerrorInAjax, "alert-danger"),
                                    void $(modalerrorInAjax).modal("show")) : 502 == r.status ?
                                        ($(LoadingGift).hide(), AlertInAjax("نوع فایل درست انتخاب نشده. لطفا مجددا امتحان نمایید", modalerrorInAjax, "alert-danger"),
                                            void $(modalerrorInAjax).modal("show")) : 505 == r.status ?
                                            ($(LoadingGift).hide(), AlertInAjax("شما هم اکنون داخل حساب کاربری خود می باشید و قادر به ثبت نام مجدد نمی باشید و یا اطلاعات شخصی خود را به صورت کامل وارد نکرده اید.", modalerrorInAjax, "alert-danger"),
                                                void $(modalerrorInAjax).modal("show")) : void 0
                            }, success: function (r) {
                                $(LoadingGift).hide(),
                                    AlertInAjax("عملیات با موفقیت انجام شد", modalerrorInAjax, "alert-success"),
                                    $(modalerrorInAjax).modal("show"),
                                    $(modalerrorInAjax).on("hidden.bs.modal", function () { location.href = "/SinSup/Index" })
                            }
                        })) : (AlertInAjax("تیک قوانین را بزنید", modalerrorInAjax, "alert-danger"), void $(modalerrorInAjax).modal("show"))
        });



    </script>
}